/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@media (min-width:700px) {
    header {
        width: 100%;
        height: 8vh;
        color: black;
        background-color: rgb(209, 210, 212);
    }

    .container {
        height: 80vh;
        position: relative;
        width: 100%;
        color: black;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    .box {
        position: absolute;
        height: 80vh;
    }

    .container .content-a {
        background-color: rgb(140, 198, 63);
        left: 20%;
        top: 0;
        width: 60%;
    }

    .container .content-b {
        width: 20%;
        background-color: rgb(11, 148, 68);
        top: 0;
    }

    .container .content-c {
        width: 20%;
        background-color: rgb(245, 238, 49);
        left: 80%;

    }

    footer {
        width: 100%;
        height: 8vh;
        background-color: rgb(209, 210, 212);
        margin: 0;

    }

    p {
        line-height: 1.5;
        margin-left: 0.5em;
    }
}


@media (min-width:480px) and (max-width:699px) {
    header {
        width: 100%;
        height: 5vh;
        color: black;
        background-color: rgb(209, 210, 212);
    }

    .container {
        height: 88vh;
        position: relative;
        width: 100%;
        color: black;
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

    .box {
        position: absolute;
        margin: 0;
    }

    .container .content-a {
        background-color: rgb(140, 198, 63);
        left: 20%;
        top: 0;
        left: 0;
        width: 100%;
        height: 60vh;
    }

    .container .content-b {
        width: 20%;
        background-color: rgb(11, 148, 68);
        top: 60vh;
        width: 50%;
        height: 28vh;
    }

    .container .content-c {
        width: 20%;
        background-color: rgb(245, 238, 49);
        top: 60vh;
        left: 50%;
        width: 50%;
        height: 28vh;

    }

    footer {
        width: 100%;
        height: 5vh;
        background-color: rgb(209, 210, 212);
        margin: 0;

    }

    p {
        line-height: 1.5;
        margin-left: 0.5em;
        font-size: 25px;
    }
}



@media (min-width:480px) and (max-width:699px) {
    header {
        width: 100%;
        height: 5vh;
        color: black;
        background-color: rgb(209, 210, 212);
    }

    .container {
        height: 87vh;
        position: relative;
        width: 100%;
        color: black;
        margin-top: 1.5vh;
        margin-bottom: 1.5vh;
    }

    .box {
        position: absolute;
        margin: 0;
    }

    .container .content-a {
        background-color: rgb(140, 198, 63);
        left: 20%;
        top: 0;
        left: 0;
        width: 100%;
        height: 59vh;
    }

    .container .content-b {
        width: 20%;
        background-color: rgb(11, 148, 68);
        top: 59vh;
        width: 50%;
        height: 28vh;
    }

    .container .content-c {
        width: 20%;
        background-color: rgb(245, 238, 49);
        top: 59vh;
        left: 50%;
        width: 50%;
        height: 28vh;

    }

    footer {
        width: 100%;
        height: 5vh;
        background-color: rgb(209, 210, 212);
        margin: 0;

    }

    p {
        line-height: 1.5;
        margin-left: 0.5em;
        font-size: 20px;
    }
}



@media (min-width:0px) and (max-width:479px) {
    header {
        width: 100%;
        height: 5vh;
        color: black;
        background-color: rgb(209, 210, 212);
    }

    .container {
        height: 86vh;
        position: relative;
        width: 100%;
        color: black;
        margin-top: 2vh;
        margin-bottom: 2vh;
    }

    .box {
        width: 100%;
        position: absolute;
    }

    .container .content-a {
        background-color: rgb(140, 198, 63);
        top: 0;
        left: 0;
        height: 38vh;
    }

    .container .content-b {
        background-color: rgb(11, 148, 68);
        top: 38vh;
        height: 24vh;
    }

    .container .content-c {

        background-color: rgb(245, 238, 49);
        top: 62vh;
        height: 24vh;

    }

    footer {
        width: 100%;
        height: 5vh;
        background-color: rgb(209, 210, 212);
        margin: 0;

    }

    p {
        line-height: 1.5;
        margin-left: 0.5em;
        font-size: 20px;
    }
}