/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


@media (min-width:700px) {
    header {
        color: black;
        background-color: rgb(209, 210, 212);
        height: 9vh;

    }

    .Maincontainer {
        position: relative;
        width: 100%;
        height: 80vh;
        margin-top: 1vh;
        margin-bottom: 1vh;

    }

    .box {
        position: absolute;
        color: black;
    }

    .Maincontainer .content-a {
        background-color: rgb(239, 64, 54);
        height: 40vh;
        width: 70%;
        margin: 0;
    }

    .Maincontainer .content-b {
        background-color: #fcb040;
        height: 40vh;
        top: 40vh;
        width: 70%;
        margin: 0;
    }

    .Maincontainer .content-c {
        background-color: yellow;
        height: 80vh;
        width: 30%;
        top: 0vh;
        right: 0vh;

    }

    footer {
        color: black;
        background-color: rgb(209, 210, 212);
        height: 9vh;

    }

    p {
        line-height: 1.5;
        margin-left: 0.5em;
    }
}


@media (min-width:480px) and (max-width:699px) {
    header {
        color: black;
        background-color: rgb(209, 210, 212);
        height: 5vh;

    }

    .Maincontainer {
        position: relative;
        width: 100%;
        height: 87vh;
        margin-top: 1.5vh;
        margin-bottom: 1.5vh;

    }

    .box {
        position: absolute;
        color: black;
    }

    .Maincontainer .content-a {
        background-color: rgb(239, 64, 54);
        height: 43.5vh;
        width: 50%;
        margin: 0;
    }

    .Maincontainer .content-b {
        background-color: #fcb040;
        height: 43.5vh;
        top: 43.5vh;
        width: 50%;
        margin: 0;
    }

    .Maincontainer .content-c {
        background-color: yellow;
        height: 87vh;
        width: 50%;
        top: 0vh;
        right: 0vh;

    }

    footer {
        color: black;
        background-color: rgb(209, 210, 212);
        height: 5vh;

    }

    p {
        line-height: 1.5;
        margin-left: 0.5em;
        font-size: 20px;
    }
}

@media (min-width:0px) and (max-width:479px) {

    header {
        color: black;
        background-color: rgb(209, 210, 212);
        height: 5vh;

    }

    .Maincontainer {
        position: relative;
        width: 100%;
        height: 87vh;
        margin-top: 1.5vh;
        margin-bottom: 1.5vh;

    }

    .box {
        position: absolute;
        color: black;
        width: 100%;
    }

    .Maincontainer .content-a {
        background-color: rgb(239, 64, 54);
        height: 29vh;
        margin: 0vh;
        top: 0vh;
    }

    .Maincontainer .content-b {
        background-color: #fcb040;
        height: 29vh;
        top: 29vh;
        margin: 0;
    }

    .Maincontainer .content-c {
        background-color: yellow;
        height: 29vh;
        top: 58vh;
    }

    footer {
        color: black;
        background-color: rgb(209, 210, 212);
        height: 5vh;

    }

    p {
        line-height: 1.5;
        margin-left: 0.5em;
        font-size: 20px;
    }
}